#bottom-left
  #legal
    %p
      The #{site.title} project is a member of the
      <a href="http://jboss.org/">JBoss Community</a> and
      produced by the <a href="http://projectodd.org/">Project:odd</a> team.
    %p{:style => 'padding-bottom:0;'}
      Copyright 2009-2012 <a href="http://redhat.com/">Red Hat, Inc.</a>
      #{site.title}&trade; is a trademark of Red Hat, Inc.
#bottom-right
  #badges
    %a{:href=>'http://jboss.org/'}
      %img#jbosscommunity-logo{ :src=>'/images/jbosscommunity-logo.png', :alt=>'JBoss Community' }
    %a{:href=>'http://projectodd.org/'}
      %img#projectodd-logo{ :src=>'/images/projectodd-logo.png', :alt=>'A Project Odd production' }
