%ul#menu
  %li
    %a{ :href=>'/' } Home
  %li
    %a{ :href=>'/blog/' } Blog
  %li
    %a{ :href=>'/download/' } Download
  %li
    %a{ :href=>'/tutorials/' } Tutorials
  %li
    %a{ :href=>'/faq/' } FAQ
  %li
    %a{ :href=>'/community/' } Community
  %li
    %a{ :href=>'/development/' } Development
  %li
    %a{ :href=>'/license/' } License