/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    background-color: #550000;
    background-image: url('/images/bg.png');
    background-repeat: repeat-x;
    font-family: "Lucida Sans Unicode","Lucida Grande",Geneva,Verdana,Arial,sans-serif;
    font-size: 0.8em;
    line-height: 150%
}

#wrapper {
    margin: 30px auto;
    width: 925px;
}

#main {
    background-color: #888;
    padding: 10px;

}

#content {
    color: #222;
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 10px;
}

#header {
    height: 110px;
}


#main-column {
    padding: 20px;
    background-color: #fff;
}

#left-column {
    width: 600px;
    float: left;
    padding: 20px;
    background-color: #fff;
}

#video {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

#right-column {
    width: 215px;
    float: left;
    padding: 10px;
    background-color: #fff;
    margin-left: 10px;
}

#footer {
    color: #222;
    font-size: 0.8em;
    padding: 20px 10px 10px 10px;
    overflow: hidden;
}

#cool-stuff {
    background: url('/images/project_coolstuff_boxgrinder.png') no-repeat;
}

#cool-stuff p {
    padding-top: 115px;
    text-align: right;
}

#error-404 {
    font-size: 150%;
    line-height: 150%;
    padding: 2em;
}

#even-more {
    text-align: right;
}

div#menu {
    background-color: #444;
    color: #fff;
    padding: 5px 0;
    padding-left: 10px;
    border-top: 1px solid #666;
}

#bottom-left {
    width: 300px;
    float: left;
}

#bottom-right {
    float: left;
}

#latest-posts > div.item {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

#latest-release {
    border: 1px solid #ddd;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
}

hr {
    background-color: #eee;
    height: 5px;
    border: 0;
    margin: 1em 0;
}

h1 {
    font-size: 1.8em;
    padding: 0.4em 0;
}

h2 {
    font-size: 1.6em;
    padding: 0.4em 0;
}

h3 {
    font-size: 1.4em;
    padding: 0.3em 0;
}

h4 {
    font-size: 1.2em;
    padding: 0.2em 0;
}

h1, h2, h3, h4 {
    color: #444;
    font-family: 'Times New Roman','Georgia';
    font-style: italic;
    line-height: 120%;
}

h1.pagetitle {
    color: #880000;
    font-size: 2.2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
}

h1.callout, h2.callout {
    background-color: #ddd;
    color: #444;
    padding: 0.5em;
    line-height: 120%;
    margin-bottom: 1em;
}

h2.callout {
    font-size: 1.2em; 
}


img.main {
    display: block;
    margin: 1em auto;
}

blockquote {
    font-family: 'Times New Roman','Georgia';
    font-style: italic;
    font-size: 1.2em;
    color: #009900;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    padding: 0.5em;
    margin: 0 0 1em 0;
}

blockquote > p {
    padding: 0;
}

a {
    color: #880000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    padding-bottom: 1em;
}

p.announcement {
    background-color: #eee;
    padding: 0.5em;
    border-left: 5px solid #aa0000;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 2em;
  margin-bottom: 1em;
  clear: both;
}

pre {
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-left: 5px solid #e6e6e6;
    padding: 0.5em;
    margin: 0 0 1em 0;
    overflow-x: auto;
}

code {
    font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

ul {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 2em;
  margin-bottom: 1em;
  clear: both;
}

li > ol {
    margin-bottom: 0;
}

li > ul {
    margin-bottom: 0;
}

/* TeamCity box */

table.tcTable {
    width: 400px;
    border-spacing: 1px;
}

table.tcTable tr {
        background-color: #eee;
}

div.projectName {
    display: none;
}

td.buildConfigurationName, td.buildNumberDate, td.buildResults {
    padding: 0.5em;
}







/* RSS */

div#jira {
}

div.rssBody > ul {
    list-style: none;
    margin-left: 0;
}

div.rssBody > ul > li {
    margin-bottom: 0.5em;
}

div.rssBody > ul > li > h4 {
    font-family: "Lucida Sans Unicode","Lucida Grande",Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: 1em;
}








div.byline {
    margin-bottom: 1em;
    overflow: hidden;
}

div.byline > div.author {
    float: left;
    font-weight: bold;
}

div.byline > div.date {
    float: left;
    margin-left: 1em;
}

div.pagination-links {
    margin-top: 1em;
}

div.post {
    border-bottom: 5px solid #ddd;
}

div.post > h1.title {
    padding: 0.5em 0 0 0;
}

.maruku_toc > ul {
  margin-left: 0em;
}

strong {
    font-weight: bold;
}

em {
    font-style: oblique;
}

#badges > a > img {
    margin: 10px;
}

.gist {
    font-size: 0.9em;
}

div.post > div.comments {
    padding: 0.5em;
    background-color: #eee;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul#menu>li {
        float: left;
        padding-right: 10px;
    };


ul#menu >li> a {
    text-decoration: none;
    color: #fff;
}

ul#menu >li> a:hover {
        text-decoration: underline;
    }

        img#jbosscommunity-logo, img#projectodd-logo {
          width: 150px;
        }
