---
layout: one-column
hide_title: true
---

.post
  .byline
    .author
      = page.author
    .date
      Published: #{page.date.strftime( '%d %B %Y' )}
    .tags
      - unless page.tags.empty?
        Tags:
        - page.tags.each do |tag|
          %a{:href=>tag.primary_page.url}
            = tag
  .body
    ~ content
  .comments
    = page.intense_debate_comments
