---
layout: base
---

#wrapper
  #main
    #header
      %a{ :href=>'/' }
        %img{ :src=>'/images/banner.png', :alt=>'BoxGrinder' }
    #menu
      = partial( 'menu.html.haml' )
    #content
      ~ content
    #footer
      = partial( 'footer.html.haml' )
