---
layout: default
---

%map{:name => 'subprojects'}
  %area{:title => 'BoxGrinder Studio', :alt => 'BoxGrinder Studio', :href => '/studio', :coords => '180,40,340,100', :shape => 'rect'}
  %area{:title => 'BoxGrinder REST', :alt => 'BoxGrinder REST', :href => '/rest', :coords => '180,150,340,210', :shape => 'rect'}
  %area{:title => 'BoxGrinder Build', :alt => 'BoxGrinder Build', :href => '/build', :coords => '180,260,340,320', :shape => 'rect'}

#left-column
  ~ content
#right-column
