---
layout: default
---

#left-column
  - unless page.hide_title
    %h1.pagetitle #{page.title}
  ~ content
#right-column
  %h1 Latest stable release
  #latest-release
    BoxGrinder Build:
    %a{:href=>"#{announcement_for_version(latest_release[:version]).url}"}
      = latest_release[:version]
  = partial( 'latest_posts.html.haml' )
  %h1 Latest tweets
  #latest-tweets
    :plain
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 3,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#880000'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#880000'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('boxgrinder').start();
      </script>
  %h1 Cool stuff
  #cool-stuff
    :markdown
      [Desktop wallpaper](http://www.jboss.org/coolstuff/desktopwallpapers/boxgrinder.html) | [Project Swag](http://www.cafepress.com/jbossorg/7089670)
  %h1 Tweet it!
  #twitter
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="boxgrinder">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
